*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:black;
color:white;
font-family:Poppins,sans-serif;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:purple;
}

.hero h1{
font-size:70px;
}
